apiVersion: apps/v1beta1
kind: Deployment
metadata:
name: rolling-update-test
spec:
replicas: 5
minReadySeconds: 10
strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 2
    maxUnavailable: 0
template:
  metadata:
    labels:
      app: web-front-end
      department: group3
  spec:
    containers:
    - name: m-client-web
      image: skarl/client:latest
      env:
      - name: PORT_ARGS
        value: "--port=80"
      ports:
      - containerPort: 80
        name: web-port
        protocol: TCP
